<div class="sidebar pure-u-1 pure-u-med-1-4">
    <div class="header">
        <hgroup>
            <a href="{{ site.baseurl }}/" class="main-link">
              <img src="/images/me.png" class="selfie-main" alt="selfie">
              <h1 class="brand-title">michael wager</h1>
            </a>
        </hgroup>

        <nav role="navigation" class="nav">
          <div class="navigation">
            <!-- credits to http://socicon.com/ for their lovely social icon font! -->
            <div class="socialicons">
              <div class="socicon-wrap twitter">
                <a href="https://twitter.com/michael_wager" title="@michael_wager bei Twitter">
                  <span class="socicon">a</span>
                </a>
              </div>
              <div class="socicon-wrap github" title="@mwager bei GitHub">
                <a href="https://github.com/mwager">
                  <span class="socicon">Q</span>
                </a>
              </div>
              <div class="socicon-wrap xing" title="mein XING Profil">
                <a href="https://www.xing.com/profile/Michael_Wager">
                  <span class="socicon">l</span>
                </a>
              </div>
              <div class="socicon-wrap rss" title="RSS feed abonieren">
                <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                  <span class="socicon">,</span>
                </a>
              </div>
            </div>

            <div class="twitter-follow">
              <a href="https://twitter.com/michael_wager" class="twitter-follow-button" data-show-count="false" data-lang="de">
                @michael_wager folgen
              </a>
            </div>

            <div class="links">
              <a class="page-link" href="/about">über mich</a>
              <a class="page-link" href="/#blog">Blog</a>
          </div>
        </nav>
    </div>
</div>
