<head>
    {% if site.enforce_ssl %}
    <!--
    redirect users to the https version of the website.
    but: only check when on the production domain, as set in _config.yml.
    see https://konklone.com/post/github-pages-now-supports-https-so-use-it
    -->
    <script type="text/javascript">
    var enforce = "{{ site.enforce_ssl }}", enforce_gh = "{{ site.enforce_ssl_github }}";
    if ((enforce == window.location.host || enforce_gh == window.location.host) && (window.location.protocol != "https:"))
      window.location = window.location.toString().replace(/^http:/, "https:");
    </script>
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    <link rel="shortcut icon" href="/images/html5.png" type="image/x-icon">

    {% if site.safe %}
    <link rel="stylesheet" href="{{ "/build/main.min.css" | prepend: site.baseurl }}">
    {% else %}
    <link rel="stylesheet" href="{{ "/css/pure.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/fancybox.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    {% endif %}

    <script src="/js/vendor/modernizr-2.8.0.min.js"></script>
</head>
