<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    {% if site.safe || site.env == 'prod' %}
    <base href="{{ '' | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    <link rel="shortcut icon" href="/images/html5.png" type="image/x-icon">

    {% if site.safe || site.env == 'prod' %}
    <link rel="stylesheet" href="{{ "/build/main.min.css" | prepend: site.baseurl }}">
    {% else %}
    <link rel="stylesheet" href="{{ "/css/pure.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/fancybox.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    {% endif %}

    <script src="/js/vendor/modernizr-2.8.0.min.js"></script>
</head>
