<!DOCTYPE html>
<html class="no-js" lang="de">
  <!--
    So you wanna see the sources, ey?
    Check out https://github.com/mwager/mwager.github.io
  -->
  {% include head.html %}

    <body>
      {% include old-ie.html %}
      <div id="layout" class="pure-g">
        {% include header.html %}

        <div class="content pure-u-1 pure-u-med-3-4">
          <div>
          {{ content }}

          {% include footer.html %}
          </div>
        </div>
      </div>

    <!-- Twitter follow buttons -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

    {% if site.safe or site.env == 'prod' %}
    <script src="/build/main.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-32119995-1', 'mwager.de');
      ga('send', 'pageview');
    </script>
    {% else %}
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
    {% endif %}
    </body>
</html>
